body{ 
    color:#222323;
    background-color: #F0F6F0;
    
}

.dark-mode{
    color : #F0F6F0;
    background-color: #222323;
}

.darkModeButton{
    border-radius: 10px 10px 10px 10px;
    background-color: #3A3858;
}
